@model Escuela

@{
    ViewData["Title"] = "Informacion Escuela";
}

<div class="text-center">
    <h1>Escuela: @Model.Nombre</h1>
    <h2>Informacion de la escuela  año fundacion: @Model.AñoFundacion</h2>
</div>